{% extends 'base.html' %}

{% block title %}
Bienvenue sur le site officiel du Prophète
{% endblock title %}

{% block breadcumb %}
<ol class="breadcrumb"><li class="active"><span>Accueil</span></li></ol>
{% endblock breadcumb %}

{% block wrapper %}
<div class="grid-wrapper clearfix">
		<div class="grid_3">
			<div class="block block-flash">
				<div class="block-heading">
					<h3 class="block-title text-center">Annonces</h3>
					
				</div>
				<div class="block-content">
					<div class="annonces-ticker">
						<ul class="list-annonces list-unstyled">
							<li><i class="fa fa-info-circle"></i> Le Prophète Kacou Philippe est sorti de prison le mardi nuit 16 Août 2016 mais interdit de voyager et de prêcher l&#8217;Évangile jusqu'en mai 2021.</li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="grid_3">
			<div class="block block-books">
				<div class="block-heading">
					<h3 class="block-title text-center">Le Livre du Prophète Kacou</h3>
				</div>
				<div class="block-content">
					<ul class="list-unstyled">
						<li><a href="https://www.philippekacou.org/fr/livre"><img src="https://www.philippekacou.org/assets/front/images/icon_pdf_24.png" /> Le Livre du Prophète Kacou Philippe</a></li><br/>
						<li><a href="https://www.philippekacou.org/fr/predications/predications-audio"><img src="https://www.philippekacou.org/assets/front/images/icon_mp3_24.png" /> Le Livre du Prophète Kacou Philippe en audio</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="grid_3">
			<div class="block block-software">
				<div class="block-heading">
					<h3 class="block-title text-center">Le Livre en logiciels</h3>
				</div>
				<div class="block-content">
					<ul class="list-software list-unstyled">
						<li><a href="https://www.philippekacou.org/file/local/ProphetKacou.exe"><img src="https://www.philippekacou.org/assets/front/images/icon_win_24.png" /> Windows</a></li>
						<li><a href="https://play.google.com/store/apps/details?id=com.matth25.prophetekacou"><img src="https://www.philippekacou.org/assets/front/images/icon_andro_24.png" /> Android</a></li>
						<li><a href="https://itunes.apple.com/bj/app/proph%C3%A8te-kacou-officiel/id1348915504?mt=8"><img src="https://www.philippekacou.org/assets/front/images/icon_apple_24.png" /> Iphone</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="grid_3">
			<div class="block block-bapteme">
				<div class="block-heading">
					<h3 class="block-title text-center">Baptême et Interviews</h3>
				</div>
				<div class="block-content">
					<ul class="list-unstyled">
						<li><a href=""><i class="fa fa-picture-o"></i> Baptêmes et Consécration</a></li><br/>
						<li><a href="https://www.philippekacou.org/fr/medias/emissions-tv?idEmission=1"><i class="fa fa-video-camera"></i> Interviews Vidéo</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock wrapper %}

{% block content %}
<section class="block block-latest-news">
		        <h1 class="block-heading text-gray">Actualités<div class="readmore-block"><a href="https://www.philippekacou.org/fr/ressources/actualites">+ d'actualités</a></div></h1>
		        <div class="block-content">
		           <ul class="posts-list list-unstyled">
		                		                    <li class="post-wrapper">
		                        <article class="post post-339 clearfix post-type-summary">
		                            <div class="post-thumb-wrapper grid_2 alpha">
		                            	<div class="img-wrapper">
		                                	<img src="https://www.philippekacou.org/file/view?cat=news&id=339" class="img-responsive post-thumbnail" alt="miniature" />
		                                </div>
		                            </div>
		                            <div class="post-content-wrapper grid_7 omega">
		                                <header>
		                                    <h1 class="post-title font-18"><a href="https://www.philippekacou.org/fr/ressources/actualites?idActu=339" class="post-link">KACOU 143 : ORACLES DU PROPHÈTE KACOU PHILIPPE SUR L&#8217;HOMOSEXUALITÉ</a></h1>
		                                     <p class="text-muted small">
		                                        <span class="fa fa-clock-o"></span> <time pubdate="2020-08-30T08:01:01">30 août 2020</time>
		                                    </p>
		                                </header>
		                                <div class="post-content">
		                                    KACOU 143&nbsp;:&nbsp;ORACLES DU PROPH&Egrave;TE KACOU PHILIPPE SUR&nbsp;L&rsquo;HOMOSEXUALIT&Eacute;

Oracles que le proph&egrave;te Kacou Philippe a prononc&eacute;s de Katadji, son village, le 23&hellip;
		                                </div>
		                                <div class="readmore-block small">
		                                    <a href="https://www.philippekacou.org/fr/ressources/actualites?idActu=339">Lire la suite</a>
		                                </div>
		                            </div>
		                        </article>
		                    </li>                     
		                		                    <li class="post-wrapper">
		                        <article class="post post-338 clearfix post-type-summary">
		                            <div class="post-thumb-wrapper grid_2 alpha">
		                            	<div class="img-wrapper">
		                                	<img src="https://www.philippekacou.org/file/view?cat=news&id=338" class="img-responsive post-thumbnail" alt="miniature" />
		                                </div>
		                            </div>
		                            <div class="post-content-wrapper grid_7 omega">
		                                <header>
		                                    <h1 class="post-title font-18"><a href="https://www.philippekacou.org/fr/ressources/actualites?idActu=338" class="post-link">KACOU 141 : DIEU AIME LA CHINE ET L&#8217;ASIE</a></h1>
		                                     <p class="text-muted small">
		                                        <span class="fa fa-clock-o"></span> <time pubdate="2020-03-03T08:01:01">3 mars 2020</time>
		                                    </p>
		                                </header>
		                                <div class="post-content">
		                                    KACOU 141&nbsp;:&nbsp;DIEU AIME LA CHINE ET L&rsquo;ASIE

Lettre que le proph&egrave;te Kacou Philippe a &eacute;crite de son domicile de Katadji, le 01 mars 2020



1&nbsp;&nbsp;&nbsp;Lettre qu&hellip;
		                                </div>
		                                <div class="readmore-block small">
		                                    <a href="https://www.philippekacou.org/fr/ressources/actualites?idActu=338">Lire la suite</a>
		                                </div>
		                            </div>
		                        </article>
		                    </li>                     
		                		                    <li class="post-wrapper">
		                        <article class="post post-337 clearfix post-type-summary">
		                            <div class="post-thumb-wrapper grid_2 alpha">
		                            	<div class="img-wrapper">
		                                	<img src="https://www.philippekacou.org/file/view?cat=news&id=337" class="img-responsive post-thumbnail" alt="miniature" />
		                                </div>
		                            </div>
		                            <div class="post-content-wrapper grid_7 omega">
		                                <header>
		                                    <h1 class="post-title font-18"><a href="https://www.philippekacou.org/fr/ressources/actualites?idActu=337" class="post-link">KACOU 140 : JUGEMENTS SUR LES RELIGIONS D&#8217;ASIE</a></h1>
		                                     <p class="text-muted small">
		                                        <span class="fa fa-clock-o"></span> <time pubdate="2019-12-03T08:01:01">3 décembre 2019</time>
		                                    </p>
		                                </header>
		                                <div class="post-content">
		                                    KACOU 140&nbsp;:&nbsp;JUGEMENTS SUR LES RELIGIONS D&rsquo;ASIE

&nbsp;

Jugements que le proph&egrave;te Kacou Philippe a prononc&eacute;s de son domicile de Katadji, le 01&nbsp;d&eacute;cembre 20&hellip;
		                                </div>
		                                <div class="readmore-block small">
		                                    <a href="https://www.philippekacou.org/fr/ressources/actualites?idActu=337">Lire la suite</a>
		                                </div>
		                            </div>
		                        </article>
		                    </li>                     
		                
		            </ul>
		             <article class="post post-featured clearfix post-type-summary">
		                <div class="post-thumb-wrapper grid_2 alpha">
		                	<img src="https://www.philippekacou.org/assets/front/images/polaroid-flora.png" class="img-responsive post-thumbnail" alt="minature" />
		                </div>
		                <div class="post-content-wrapper grid_7 omega">
		                    <h1 class="post-title font-18"><a href="http://www.edilivre.com/communaute/2015/02/27/rencontre-avec-philippe-kacou-pour-lensemble-de-son-oeuvre/#.VUiD6vn1akq" class="post-link" target="_blank">Rencontre avec Philippe Kacou, pour l'ensemble de son oeuvre</a></h1>
		                    <div class="post-content">
		                        <p>
		                            Présentez-nous vos ouvrages ?
		                        </p>
		                        <p>
		                            Mon livre, "Le livre du prophète Kacou Philippe", est un ensemble de 124 chapitres répartis en 3 tomes. C'est une vision nouvelle du christianisme qu'il est indispensable d'avoir.[....]
		                        </p>
		                    </div>
		                    <div class="readmore-block small">
		                        <a href="http://www.edilivre.com/communaute/2015/02/27/rencontre-avec-philippe-kacou-pour-lensemble-de-son-oeuvre/#.VUiD6vn1akq" target="_blank">Lire l'interview</a>
		                    </div>
		                    
		                </div>
		                
		            </article>
		            
		        </div>
	        
		    </section>
		    <section class="block block-featured-videos">
		        <h1 class="block-heading text-brown-midlight">Vidéos à la une</h1>
		        <div class="block-content bg-y">
		            <ol class="featured-videos-list list-unstyled cycle-slideshow videos-slideshow" data-cycle-slides=">li" data-cycle-fx="fade"
		                 data-cycle-timeout="30000" data-cycle-pauseOnHover="true" data-cycle-log="false">
		                		                    <li class="featured-video-wrapper">
		                        <div class="featured-video-container clearfix padding">
		                            <div class="video-container pull-left">
		                                		                                    
		                                    <iframe src="https://www.youtube.com/embed/gbaMT5b8-Wo?enablejsapi=1&am;html5=1" type="text/html" width="420" height="236" id="video-125" frameborder="0"></iframe>
		                                    
		                                		                            </div>
		                            <div class="video-details pull-left text-justified">
		                                <h3 class="no-margin-top font-20">Céremonie du 08 Septembre 2018 en accomplissement de Kc.111:11</h3>
		                                <div class="video-comment scroll">
		                                    
		                                </div>
		                            </div>
		                        </div>
		                        <div class="readmore-block">
		                            <a href="https://www.philippekacou.org/fr/medias/emissions-tv?idEmission=1">+ de vidéos</a>
		                        </div>
		                    </li>
		                		                    <li class="featured-video-wrapper">
		                        <div class="featured-video-container clearfix padding">
		                            <div class="video-container pull-left">
		                                		                                    
		                                    <iframe src="https://www.youtube.com/embed/oUrpybnw3YI?enablejsapi=1&am;html5=1" type="text/html" width="420" height="236" id="video-143" frameborder="0"></iframe>
		                                    
		                                		                            </div>
		                            <div class="video-details pull-left text-justified">
		                                <h3 class="no-margin-top font-20">Journal PKP du mois de septembre 2019</h3>
		                                <div class="video-comment scroll">
		                                    Chaque mois, un journal est réalisé pour montrer l\'évolution du Message du prophète Kacou Philippe dans le monde. (Abonnez-vous à la chaîne pour recevoir la notification chaque mois).
		                                </div>
		                            </div>
		                        </div>
		                        <div class="readmore-block">
		                            <a href="https://www.philippekacou.org/fr/medias/emissions-tv?idEmission=2">+ de vidéos</a>
		                        </div>
		                    </li>
		                		                    <li class="featured-video-wrapper">
		                        <div class="featured-video-container clearfix padding">
		                            <div class="video-container pull-left">
		                                		                                    
		                                    <iframe src="https://www.youtube.com/embed/FqW5s-67e7U?enablejsapi=1&am;html5=1" type="text/html" width="420" height="236" id="video-2" frameborder="0"></iframe>
		                                    
		                                		                            </div>
		                            <div class="video-details pull-left text-justified">
		                                <h3 class="no-margin-top font-20">Dieu Visite l&#039;Afrique</h3>
		                                <div class="video-comment scroll">
		                                    Dans le Chapitre 67 de Son Livre, sur Dieu Visite l&#8217;Afrique, le Prophète Kacou Philippe nous livre ni plus ni moins que la réalité profonde de la création divine au travers de la place de l&#8217;Afrique dans le plan Divin. A cette Afrique-là mise de côté, apparemment rejetée ou oubliée, a pourtant été confié avant la fondation du monde, la révélation de la langue inconnue, ce qui n&#8217;a jamais été connu. Le Prophète Kacou Philippe nous introduit bien là dans le PREQUEL de l&#8217;histoire du Salut.

L&#8217;Afrique berceau de l&#8217;humanité selon la science est avant tout une réalité spirituelle. Son apôtre et disciple fait l&#8217;état de lieu pour que le monde n&#8217;ait aucune excuse. Tout y&#8217;est, la science, l&#8217;histoire et la réalité concrète concourent ensemble et se mettent au service de la Vérité Divine pour confondre les fils du diable, les imposteurs et les falsificateurs sans le moindre état d&#8217;âme d&#8217;honnêteté intellectuelle, encore moins spirituelle&#8230;

A consommer sans aucune modération, fils du diable et âmes déjà en enfer, s&#8217;abstenir !!!
		                                </div>
		                            </div>
		                        </div>
		                        <div class="readmore-block">
		                            <a href="https://www.philippekacou.org/fr/medias/emissions-tv?idEmission=4">+ de vidéos</a>
		                        </div>
		                    </li>
		                		                    <li class="featured-video-wrapper">
		                        <div class="featured-video-container clearfix padding">
		                            <div class="video-container pull-left">
		                                		                                    
		                                    <iframe src="https://www.youtube.com/embed/kQv1Jy3BgGY?enablejsapi=1&am;html5=1" type="text/html" width="420" height="236" id="video-122" frameborder="0"></iframe>
		                                    
		                                		                            </div>
		                            <div class="video-details pull-left text-justified">
		                                <h3 class="no-margin-top font-20">Kacou Philippe est la Lumière du monde aujourd&#039;hui. Apôtre Aman Martin</h3>
		                                <div class="video-comment scroll">
		                                    
		                                </div>
		                            </div>
		                        </div>
		                        <div class="readmore-block">
		                            <a href="https://www.philippekacou.org/fr/medias/emissions-tv?idEmission=5">+ de vidéos</a>
		                        </div>
		                    </li>
		                		                    <li class="featured-video-wrapper">
		                        <div class="featured-video-container clearfix padding">
		                            <div class="video-container pull-left">
		                                		                                    
		                                    <iframe src="https://www.youtube.com/embed/yHr92LMs5zs?enablejsapi=1&am;html5=1" type="text/html" width="420" height="236" id="video-100" frameborder="0"></iframe>
		                                    
		                                		                            </div>
		                            <div class="video-details pull-left text-justified">
		                                <h3 class="no-margin-top font-20">La confession publique selon les apôtres et le prophète Kacou Philippe</h3>
		                                <div class="video-comment scroll">
		                                    
		                                </div>
		                            </div>
		                        </div>
		                        <div class="readmore-block">
		                            <a href="https://www.philippekacou.org/fr/medias/emissions-tv?idEmission=7">+ de vidéos</a>
		                        </div>
		                    </li>
		                		                    <li class="featured-video-wrapper">
		                        <div class="featured-video-container clearfix padding">
		                            <div class="video-container pull-left">
		                                		                                    
		                                    <iframe src="https://www.youtube.com/embed/ZX9fQSYrQMo?enablejsapi=1&am;html5=1" type="text/html" width="420" height="236" id="video-75" frameborder="0"></iframe>
		                                    
		                                		                            </div>
		                            <div class="video-details pull-left text-justified">
		                                <h3 class="no-margin-top font-20">Nani nde mosakoli Kacou Philippe?</h3>
		                                <div class="video-comment scroll">
		                                    
		                                </div>
		                            </div>
		                        </div>
		                        <div class="readmore-block">
		                            <a href="https://www.philippekacou.org/fr/medias/emissions-tv?idEmission=12">+ de vidéos</a>
		                        </div>
		                    </li>
		                
		            </ol>
		        </div>
		    </section>
		    <section class="block block-web-tv">
		        <h1 class="block-heading text-green">Web TV</h1>
		        <div class="block-content">
		            <ul class="list-emission list-unstyled clearfix">
		            		                <li class="emission pull-left">
		                    <a href="https://www.philippekacou.org/fr/medias/emissions-tv?idEmission=1" title="Voir les vidéos">
		                        <img src="https://www.philippekacou.org/file/view?id=1&cat=emission" alt="PKP CHANNEL TV" class="img-responsive" width="323" />
		                        <div class="text-center">
		                            <span class="show-title small">Spécial Prophète Kacou Philippe - Interviews</span>
		                        </div>
		                        <span class="show-channel small">PKP CHANNEL TV</span>
		                    </a>
		                </li>
		            		                <li class="emission pull-left">
		                    <a href="https://www.philippekacou.org/fr/medias/emissions-tv?idEmission=2" title="Voir les vidéos">
		                        <img src="https://www.philippekacou.org/file/view?id=2&cat=emission" alt="PKP CHANNEL TV" class="img-responsive" width="323" />
		                        <div class="text-center">
		                            <span class="show-title small">Journal PKP</span>
		                        </div>
		                        <span class="show-channel small">PKP CHANNEL TV</span>
		                    </a>
		                </li>
		            		                <li class="emission pull-left">
		                    <a href="https://www.philippekacou.org/fr/medias/emissions-tv?idEmission=4" title="Voir les vidéos">
		                        <img src="https://www.philippekacou.org/file/view?id=4&cat=emission" alt="MCM" class="img-responsive" width="323" />
		                        <div class="text-center">
		                            <span class="show-title small">Envol du Grand Aigle</span>
		                        </div>
		                        <span class="show-channel small">MCM</span>
		                    </a>
		                </li>
		            		                <li class="emission pull-left">
		                    <a href="https://www.philippekacou.org/fr/medias/emissions-tv?idEmission=5" title="Voir les vidéos">
		                        <img src="https://www.philippekacou.org/file/view?id=5&cat=emission" alt="PKP CHANNEL TV" class="img-responsive" width="323" />
		                        <div class="text-center">
		                            <span class="show-title small">Le Débat télévisé & Conférences</span>
		                        </div>
		                        <span class="show-channel small">PKP CHANNEL TV</span>
		                    </a>
		                </li>
		            		                <li class="emission pull-left">
		                    <a href="https://www.philippekacou.org/fr/medias/emissions-tv?idEmission=7" title="Voir les vidéos">
		                        <img src="https://www.philippekacou.org/file/view?id=7&cat=emission" alt="PKP CHANNEL TV" class="img-responsive" width="323" />
		                        <div class="text-center">
		                            <span class="show-title small">Spécial Prophète Kacou Philippe - Documentaires</span>
		                        </div>
		                        <span class="show-channel small">PKP CHANNEL TV</span>
		                    </a>
		                </li>
		            
		            </ul>
		            <div class="readmore-block">
		                 <a href="https://www.philippekacou.org/fr/medias/emissions-tv" class="bg-green">+ d'émissions</a>
		            </div>
		        </div>
		    </section>
{% endblock content %}

{% block sidebar %}
<div class="sidebar grid_3">
	
			
			
<div class="block block-photo">
    <div class="block-heading bg-brown-light">
        <h3 class="block-title text-center"><a href="http://plus.wikimonde.com/wiki/Kacou_Philippe">Qui est Kacou Philippe ?</a></h3>
    </div>
    <div class="block-content">
        <img src="https://www.philippekacou.org/medias/Proph_Kacou.jpg" alt="Photo Kacou Philippe">
    </div>
</div>
			
<div class="block block-events">
    <div id="calendar-events"></div>
</div>
			
<div class="block block-youtube">
  	<script src="https://apis.google.com/js/platform.js"></script>

  	<script>
	    function onYtEvent(payload) {
	      if (payload.eventType == 'subscribe') {
	        // Add code to handle subscribe event.
	      } else if (payload.eventType == 'unsubscribe') {
	        // Add code to handle unsubscribe event.
	      }
	      if (window.console) { // for debugging only
	        window.console.log('YT event: ', payload);
	      }
	    }
  	</script>
  	<div class="g-ytsubscribe" data-channelid="UCftczJxNXFFVprY3GOultzQ" data-layout="full" data-theme="dark" data-count="default" data-onytevent="onYtEvent"></div>
</div>
			
<div class="block block-socials bordered padding bordered-gray">
    <div class="block-heading">
        <h3 class="block-title text-muted">Réseaux sociaux</h3>
    </div>
    <div class="block-content">
        <ul class="list-inline text-center">
            <li><a href="https://www.facebook.com/kacou.philippe"><img src="https://www.philippekacou.org/assets/front/images/facebook_square_32.png"  title="Suivez nous sur facebook" /></a></li>
            <li><a href="http://twitter.com/prophet_kacou"><img src="https://www.philippekacou.org/assets/front/images/twitter_square_32.png"  title="@kacou_phillipe" /></a></li>
            <li><a href="https://plus.google.com/+PhilippekacouOrgChannelTV "><img src="https://www.philippekacou.org/assets/front/images/google_plus_square_32.png"  title="Suivez nous sur G+" /></a></li>
        </ul>
    </div>
</div>

			
<div class="block block-module-facebook">
    <div class="fb-page" data-href="https://www.facebook.com/kacou.philippe" data-width="280" 
    data-hide-cover="false" data-show-facepile="true" data-show-posts="false">
        <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/kacou.philippe">
                <a href="https://www.facebook.com/kacou.philippe">Prophète Philippe Kacou</a>
            </blockquote>
        </div>
    </div>
</div>
	
		</div>
{% endblock sidebar %}